<nav id="navbar">
  <ul>
    <li class="style_link">
      <%= link_to 'New Selection', new_selection_path %>
    </li>

    <li class="style_link">
      <%= link_to 'New Student', new_student_path%>
    </li>

    <li class="style_link">
      <%= link_to 'New Entry', new_entry_path %>
    </li>
  </ul>
</nav>
